<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sabith</title>
    <script src="https://kit.fontawesome.com/d19bbcd6e9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section class="main-sect">
        <div class="main-two">
            <div class="side-nav">
                <h1>Student Management System</h1>
                <nav>
                    <li class="side-list-main">
                        <ul class="side-list-item"><a href="#"><i style="color: purple;" class="fa-solid fa-house"></i>Dashboard</a></ul>
                       
                    </li>
                </nav>
            </div>

            <div class="topnav">
                <a href="#" class="active">Student Management System</a>
                <a href="#"><i class="fa-solid fa-gear"></i></a>
                <a href="#"><i class="fa-solid fa-bell"></i></a>
                <!-- Navigation links (hidden by default) -->
    
                <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
                <a href="javascript:void(0);" id="menuicon" class="icon" onclick="myFunction()">
                  <i id="menubar" class="fa fa-bars"></i>
                </a>
            </div>
            <div class="minilinks" id="myLinks">
                <a href="#"><i class="fa-solid fa-user"></i> Sign In</a>
                <div class="search-box"><i class="fa-solid fa-magnifying-glass"></i><input type="text" placeholder="Type here..." required></div>
                <a href="#home"><i style="color: purple;" class="fa-solid fa-house"></i> Dashboard</a>
                
            </div>

            <div class="main-cont">
                <nav class="main-nav">
                    <div class="nav-title">
                        <div class="nav-little">
                            <a href="#">Page</a>
                            <span>/</span>
                            <a href="#">Dashboard</a>
                        </div>
                        <h1>Dashboard</h1>
                    </div>
                    <div class="nav-items">
                        <div class="search-box"><i class="fa-solid fa-magnifying-glass"></i><input type="text" placeholder="Type here..." required></div>
                        <a href="#"><i class="fa-solid fa-user"></i> Sign In</a>
                        <a href="#"><i class="fa-solid fa-gear"></i></a>
                        <a href="#"><i class="fa-solid fa-bell"></i></a>
                    </div>
                </nav>
                <div class="main-cards">
                    <a class="each-card" href="student.html">
                        <div class="card-title">
                            <h5>SERVICES</h5>
                            <h3>Student</h3>
                        </div>
                        <i class="fa-solid fa-graduation-cap"></i>
                    </a>
                    <a class="each-card" href="#">
                        <div class="card-title">
                            <h5>SERVICES</h5>
                            <h3>Program</h3>
                        </div>
                        <i style="background-color: rgba(196, 75, 75, 0.898);" class="fa-solid fa-book"></i>
                    </a>
                    <a class="each-card" href="#">
                        <div class="card-title">
                            <h5>SERVICES</h5>
                            <h3>Student Registration</h3>
                        </div>
                        <i style="background-color: rgba(36, 167, 84, 0.898);" class="fa-solid fa-address-card"></i>    
                    </a>
                </div>

                <div class="main-info">
                    <div class="graph">
                        <h1>Enrollment</h1>
                        <div class="graph-content">
                            <img src="/img/sample-graph.png" alt="">
                        </div>
                    </div>
                    <div class="hg-banner">
                        <div class="hg-content">
                            <h2>Get Started with leisure Day</h2>
                        
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>


    <script src="/js/app.js"></script>
</body>
</html>